body {
    width: 1200px;
    margin: 0 auto 0 auto;
}
header {
    height: 105px;
    width: 1200px;
    margin: 0 auto 0 auto;
    background-color: #e6dac8;
    color: black;
    text-align: center;
    position: fixed;
    z-index: 1;
}
.header-buffer {
    height: 105px;
}
main {
    width: 100%;
}
aside {
    width: 29.25%;
    height: 565px;
    background-color: #eeeeee;
    float: left;
}
aside h2 {
    text-align: center;
}
footer {
    width: 100%;
    background-color: #363736;
    color: white;
    text-align: center;
}
.picture {
    height: 300px;
    width: 300px;
}
p, small {
    margin: 0 0 0 15px;
}
p {
    display: inline-block;
}
.errorMessage {
    color: #ff4f4f;
    visibility: hidden;
}
#usernameerror {
    margin-left: 70px;
} 
#passworderror, #confirmpassworderror {
    margin-left: 67px;
}
#contactPreference1Infoerror, #contactPreference2Infoerror {
    margin-left: 166px;
}
#contactPreference3Infoerror {
    margin-left: 29px;
}
#highschoolerror {
    margin-left: 131px;
}
#graddateerror {
    margin-left: 132px;
}
#internshiperror {
    margin-left: 88px;
}
#universityerror {
    margin-left: 143px;
}
#workerror {
    margin-left: 133px;
}
#letteruploaderror, #resumeuploaderror {
    margin-left: 20px;
}
.first {
    margin-top: 15px;
}
input {
    padding: 4px;
    font-size: 15px;
    border-left: none;
    border-top: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-color: #ef8724;
}
.input-left {
    margin-left: 15px;
}
.col-2-3 p, .col-2-3 small, .col-2-3 input, .col-3-3 p, .col-3-3 small, .col-3-3 input {
    margin-left: 0;
}
figure {
    margin-bottom: 5px;
}
.file-picture {
    padding: 0;
    margin-left: 40px;
}
#pictureuploaderror {
    margin-left: 40px;
}
.file {
    border: none;
}
textarea {
    margin: 5px 15px;
    padding: 4px;
    font-size: 13px;
    border-color: #ef8724;
    resize: none;
}
fieldset {
    margin: 0;
    padding: 0;
    height: 330px;
    border: none;
}
.row {
    height: 360px;
}
.row-border {
    height: 8px;
    width: 100%;
    background-color: #eeeeee;
}
.tall {
    height: 370px;
}
.col-1-2, .col-2-2, .col-1-3, .col-2-3, .col-3-3, .col-border, .col-buffer {
    display: inline-table;
    vertical-align: top;
    margin: 0;
    padding: 0;
}
.col-1-2, .col-2-2 {
    width: 47.5%;
    margin-left: 2%
}
.col-border {
    height: 100%;
    width: 0.75%;
    background-color: #eeeeee;
}
.col-1-3 {
    width: 32%;
}
.col-2-3 {
    width: 36%;
}
.col-3-3 {
    width: 32%;
}
.submit {
    width: 100%;
}
.submit input {
    width: 180px;
    margin: 0 508px;
    border-width: 4px;
    border-style: outset;
    border-color: #363736;
}
.submit input:active {
    border-style: inset;
}
.reporting {
    text-align: center;
    height: 100%;
    width: 100%;
}
.reporting h3 {
    margin-bottom: 0;
}
.shareButton {
    cursor: pointer;
}
.graph {
    height: 85%;
    width: 85%;
}
